<!--color goes from transparent to blue if mobile nav dropdown is clicked or a certain scroll threshold is met-->
<div [style.background-color] = "(!navbarTransparent||showMobileNav) ? '#6666ff' : 'transparent' " class="navbar">
    <div class="navContainer">
        <p class="navLogo">Kangaroo</p>

        <!--change the class to nav-inactive if mobile nav has not been clicked yet (this will hide the dropdown). The nav-active class is only defined in the mobile viewport-->
        <nav [ngClass]="showMobileNav? 'nav-active' : ''">

        <!--Display navbar content according to whether the user is logged in or not-->    
        <ul *ngIf = "!isLoggedIn()" class="navbarLinks">
            <li>
                <a href="# ">Home</a>
            </li>
            <li>
                <a href="# ">Features</a>
            </li>
            <li>
                <a href="# ">About</a>
            </li>

            <!--only visible in mobile-->
            <li class="navButtonMobileLi">
                <a (click) = "openRegModal(); mobileNavClick();" class="navButton" style="background-color: #7957d5;">Register</a>
                <a (click) = "openLoginModal(); mobileNavClick();" class="navButton" style="background-color: #f5f5f5; color: black;">Login</a>
            </li>
        </ul>
        <ul *ngIf = "isLoggedIn()" class="navbarLinks">
            <li>
                <a href="# ">My Planner</a>
            </li>
            <li>
                <a href="# ">Public Planner</a>
            </li>
            <li>
                <a href="# ">My Account</a>
            </li>

            <!--only visible in mobile-->
            <li class="navButtonMobileLi">
                <a (click) = "logOut()" class="navButton" style="background-color: #7957d5;">Log Out</a>
            </li>
        </ul>
        </nav>
        <div class="mobileMenu" id="mobileMenu">

        <!--change icon depending on whether the mobile nav has been clicked or not-->
        <fa-icon *ngIf="showMobileNav" (click)= "mobileNavClick()" [icon]="faTimes"></fa-icon>
        <fa-icon *ngIf="!showMobileNav" (click)= "mobileNavClick()" [icon]="faBars"></fa-icon>
        </div>

        <!--display:none in mobile, only visible in browser-->
        <!--Display navbar content according to whether the user is logged in or not-->
        <div *ngIf = "!isLoggedIn()" class="navButtonDiv">
            <button (click) = "openRegModal()" class="navButton" style="background-color: #7957d5;">Register</button>
            <button (click) = "openLoginModal()" class="navButton" style="background-color: #f5f5f5; color: black;">Login</button>
        </div>
        <div *ngIf = "isLoggedIn()" class="navButtonDiv">
            <button (click) = "logOut()" class="navButton" style="background-color: #7957d5;">Log Out</button>
        </div>
    </div>
</div>

<!--registration form is hidden instead of removed from DOM, this is because of an error with the google recaptcha that occurs when this item is removed from DOM-->
<div [hidden] = "!displayRegModal" (click) = "closeRegModal($event)" class="modal">
    <div class="modalContent">
        <div class="modalHeader">
            <span (click) = "closeRegModal($event)" class="close">&times;</span>
            <h2>Create An Account</h2>
        </div>
        <div class="modalBody">
            <div class="form1">
                <label>User Name:</label><br> 
                <input type="text" (focusout) = "checkUsernameAvailability()" [(ngModel)] = "regInfo.userName"><br>
                <p class="dangerText" *ngIf = "regErr == 'missing field'&&regInfo.userName==''">This field is required</p>
                <p class="dangerText" *ngIf = "!usernameAvailability">This username is already taken, please choose another</p>
                <label>Email:</label><br> 
                <input type="email" (focusout) = "checkEmailAvailability()" [(ngModel)] = "regInfo.email"><br>
                <p class="dangerText" *ngIf = "regErr == 'missing field'&&regInfo.email==''">This field is required</p>
                <p class="dangerText" *ngIf = "regErr == 'invalid email'">Please enter a valid email address</p>
                <p class="dangerText" *ngIf = "!emailAvailability">There is already an account registered under this email. Please log in.</p>
                <label>Password:</label><br> 
                <input type="password" [(ngModel)] = "regInfo.password"><br>
                <p class="dangerText" *ngIf = "regErr == 'missing field'&&regInfo.password==''">This field is required</p>
                <label>Confirm Password:</label><br> 
                <input type="password" [(ngModel)] = "regInfo.confirmPassword"><br>
                <p class="dangerText" *ngIf = "regInfo.confirmPassword!=regInfo.password">Passwords do not match</p>

                <!--add google captcha, validated in the backend-->
                <div class="captcha"><re-captcha [(ngModel)]="regInfo.captcha" siteKey="6Lemkv0UAAAAAEC7_tzjFjD4icTFhiRL_fbYd0Po"></re-captcha></div>
                <p class="dangerText" *ngIf = "regErr == 'missing field'&&regInfo.captcha==''">This field is required</p>
            </div>
        </div>
        <div class="modalFooter">
            <button (click) = "sendEmailVerification()" class="button1">Next</button>
        </div>
    </div>
</div>

<!--verification form only added to DOM when the variable for rendering it is true (modal is open)-->
<div *ngIf = "displayVerificationModal" class="modal">
    <div class="modalContent">
        <div class="modalHeader">
            <h2>Verify Email</h2>
        </div>
        <div class="modalBody">
            <div class="form1">
                <p class="infoText">Since the only means of account recovery is through your email. Please confirm your email before proceeding. Closing this modal will cancel your registration. <br><br> Please enter the code sent to your email below</p>
                <label>Email:</label><br> 
                <input type="email" (focusout) = "checkEmailAvailability()" [(ngModel)] = "regInfo.email"><br>
                <p class="dangerText" *ngIf = "regErr == 'missing field'&&regInfo.email==''">This field is required</p>
                <p class="dangerText" *ngIf = "regErr == 'invalid email'">Please enter a valid email address</p>
                <p class="dangerText" *ngIf = "!emailAvailability">There is already an account registered under this email. Please log in.</p>
                <p class="dangerText" style="color: blue;" *ngIf = "regResp == 'email sent'">New verification code email has been sent</p>
                <button (click) = "resendEmailVerification()" class="button2">Re-send Code</button><br>
                <label>Validation Code:</label>
                <input type="text" [(ngModel)] = "regInfo.verificationCode"><br>
                <p class="dangerText" *ngIf = "regErr == 'missing field'&&regInfo.verificationCode==''">This field is required</p>
                <p class="dangerText" *ngIf = "regErr == 'invalid authorization code'">The entered verification code is incorrect</p>
            </div>
        </div>
        <div class="modalFooter">
            <button (click) = "closeVerificationModal()" class="button1">Cancel</button>
            <button (click) = "validateVerificationCode()" class="button1">Submit</button>
        </div>
    </div>
</div>

<!--login form only added to DOM when the variable for rendering it is true (modal is open)-->
<div *ngIf = "displayLoginModal" (click) = "closeLoginModal($event)" class="modal">
    <div class="modalContent">
        <div class="modalHeader">
            <span (click) = "closeLoginModal($event)" class="close">&times;</span>
            <h2>Login</h2>
        </div>
        <div class="modalBody">
            <div class="form1">
                <label>Username:</label><br> 
                <input type="text" [(ngModel)] = "regInfo.userName"><br>
                <p class="dangerText" *ngIf = "regErr == 'missing field'&&regInfo.userName==''">This field is required</p>
                <label>Password:</label><br> 
                <input type="password" [(ngModel)] = "regInfo.password"><br>
                <p class="dangerText" *ngIf = "regErr == 'missing field'&&regInfo.password==''">This field is required</p>
                <p class="dangerText" *ngIf = "regErr == 'invalid login credentials'">Invalid login credentials</p>
                <p (click) = "displayLoginModal = false; displayPasswordResetModal = true" class="infoText" style="color: blue; cursor: pointer;">Forgot Password</p>
            </div>
        </div>
        <div class="modalFooter">
            <button (click) = "login()" class="button1">Login</button>
        </div>
    </div>
</div>

<!--password reset form only added to DOM when the variable for rendering it is true (modal is open)-->
<div *ngIf = "displayPasswordResetModal" (click) = "closePasswordResetModal($event)" class="modal">
    <div class="modalContent">
        <div class="modalHeader">
            <span (click) = "closePasswordResetModal($event)" class="close">&times;</span>
            <h2>Password Reset</h2>
        </div>
        <div class="modalBody">
            <div class="form1">
                <p class="infoText">Please enter the email under which your account is registered</p>
                <label>Email:</label><br> 
                <input type="text" [(ngModel)] = "regInfo.email"><br>
                <p class="dangerText" *ngIf = "regErr == 'missing field'&&regInfo.email==''">This field is required</p>
                <p class="dangerText" *ngIf = "regErr == 'invalid email'">Please enter a valid email address</p>
                <p class="dangerText" *ngIf = "regErr == 'Unable to send email reset request'">Unable to send email reset request</p>
                <p class="dangerText" style="color: blue;" *ngIf = "regResp == 'Password reset link has been sent to your email address'">Password reset link has been sent to your email address</p>
            </div>
        </div>
        <div class="modalFooter">
            <button (click) = "passwordReset()" class="button1">Submit</button>
        </div>
    </div>
</div>