@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.navbar{
    background-color: transparent;
    margin: 0px;
    color: #E8E8E8;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    transition: all 0.2s ease 0s;
}

.navContainer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 8px 10%;
}

.navLogo{
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Lobster', cursive;
    cursor: pointer;
    font-size: 35px;
}

.navLogo:hover{
    color: #FFFFFF;
}

.navbarLinks li, a, button{
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500px;
    font-size: 17px;
    color: #E8E8E8;
    text-decoration: none;
}

.navbar ul{
    list-style-type: none;
}

.navbarLinks li{
    display: inline-block;
    padding: 0 20px;
}

.navbarLinks li a{
    transition: all 0.3s ease 0s;
}

.navbarLinks li a:hover{
    color: #FFFFFF;
}

.navButtonMobileLi{
    display: none !important;
}

.navButtonDiv{
    margin-left: 15px;
}

.navButton{
    padding: 8px 30px;
    background-color: transparent;
    border: 1px solid #E8E8E8 ;
    cursor: pointer;
    margin-left: 5px;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
}

.navButton:hover{
    border-color: #FFFFFF;
    color: #FFFFFF;
}

.mobileMenu{
    font-size: 25px;
    cursor: pointer;
    display: none;
}

@media (max-width: 1000px){
    .mobileMenu{
        display: block;
    }

    .navButtonDiv{
        display: none;
    }

    .navButtonMobileLi{
        display: block !important;
        margin-top: 10px;
    }

    .navButton{
        margin-left: 0px;
        margin-right: 5px;
    }

    nav{
        display: none;
        position: absolute;
        background-color: #6666ff;
        width: 100%;
        top: 58px;
        left:0px;
    }

    .nav-active{
        display: block;
    }

    .navbarLinks li{
        display: block;
        padding-left: 15px;
        padding-bottom: 12px;
        padding-top: 12px;
    }
}