<div class="paralax">
</div>

<div class="modal">
    <div class="modalContent">
        <div class="modalHeader">
            <h2>Password Reset</h2>
        </div>
        <div class="modalBody">
            <div class="form1">
                <p class="infoText">Please enter your new password</p>
                <label>Password:</label><br> 
                <input type="password" [(ngModel)] = "resetInfo.password"><br>
                <p class="dangerText" *ngIf = "apiErr == 'missing field'&&resetInfo.password==''">This field is required</p>
                <label>Confirm Password:</label><br> 
                <input type="password" [(ngModel)] = "resetInfo.confirmPassword"><br>
                <p class="dangerText" *ngIf = "resetInfo.confirmPassword!=resetInfo.password">Passwords do not match</p>
                <p class="dangerText" *ngIf = "apiErr == 'invalid request'">Invalid request</p>
            </div>
        </div>
        <div class="modalFooter">
            <button (click) = "resetPassword()" class="button1">Submit</button>
        </div>
    </div>
</div>
